.button input{
    width: 130px;
    height: 50px;
    background-color: gainsboro;
    border: 2px black solid;
    margin-bottom: 10px;

}
.red{
    width: 130px;
    height: 50px;
    background-color: red;
}