input{
    margin: 10px;
    padding: 10px;
    background-color: lightgrey;
}
button{
    display: inline-block;
    background-color: lightslategrey;
    color: black;
    width: 30px;
    height: 30px;
    margin: 10px;
}
#result{
    width: 230px;
    background-color: lightslategrey;
    height: 20px;
}
